<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="My name is Ishan Joshi. I follow and love all things related to tech. 
    Sometimes that involves afterthought, analysis and imagining what can be.<br><br> 
    This is my blog where I put to words all of the above.">
    <meta property='og:title' content="{{ .Title }}"/>
    <meta property='og:image' content="{{ with .Params.image }}{{ . }}{{ end }}"/>
    <meta property='og:description' content="{{ .Summary }}"/>
    <meta property='og:url' content="{{ .Permalink }}"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <title>{{ .Title }}</title>

    <script src="https://kit.fontawesome.com/bac9ec00bb.js" crossorigin="anonymous"></script>
    {{ template "_internal/google_analytics.html" . }}
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>